body {
    background-image: url("eva.png");
    background-size: cover;
    color: #ffd80b;
    text-shadow: 0 0 10px #f73900;
    font-family: "NotoSansJP-Medium";
}

.eva {
    letter-spacing: -0.2vw;
    font-family: eva;
}

.countdown {
    font-family: "7seg";
}

.unit {
    font-family: "eva";
    font-size: 3vw;
}

.white {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffffaa;
}

.red {
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000aa;
}

@font-face {
    font-family: "eva";
    src: url("eva.otf") format("opentype");
}

@font-face {
    font-family: "7seg";
    src: url("DSEG7Classic-Bold.ttf");
}

@font-face {
    font-family: "NotoSansJP-Medium";
    src: url("NotoSansJP-Medium.ttf");
}