body {
    background-image: url("eva.png");
    background-size: cover;
    color: #ffd80b;
    text-shadow: 0 0 10px #f73900;
    font-family: "NotoSansJP-Medium";
}

.sseg-bg {
    color: #340c00;
    text-shadow: none;
}

.warning {
    color: #ff7b00;
    text-shadow: 0 0 10px #bb0c00;
}

.danger {
    color: #ff210d;
    text-shadow: 0 0 15px #ac0000;
}

.fatal {
    color: #ff1500;
    text-shadow: 0 0 15px #ac0000;
}

.mildblink {
    animation: blink 3s ease-out infinite alternate;
}

@keyframes blink {
    0% {opacity:0.2;}
    90% {opacity:1;}
    100% {opacity:1;}
}

.transition {
    transition: opacity ease-in-out 0.2s;
}

.eva {
    letter-spacing: -0.2vw;
    font-family: eva;
}

.countdown {
    font-family: "7seg";
}

.unit {
    font-family: "eva";
    font-size: 3vw;
}

.white {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffffaa;
}

.red {
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000aa;
}

@font-face {
    font-family: "eva";
    src: url("eva.otf") format("opentype");
}

@font-face {
    font-family: "7seg";
    src: url("DSEG7Classic-Bold.ttf");
}

@font-face {
    font-family: "NotoSansJP-Medium";
    src: url("NotoSansJP-Medium.ttf");
}